.pagination
  margin: 20px auto
  display: flex
  justify-content: center
  align-items: center

.btn-prev,
.btn-next
  background: transparent
  border: 0
  padding: 0
  cursor: pointer

  svg
    fill: $main-blue-color

    &:hover
      fill: $main-red-color

.btn-prev
  svg
    transform: rotate(180deg)

  &:disabled
    svg
      fill: $main-gray-color

.btn-next
  &:disabled
    svg
      fill: $main-gray-color

.current-page
  font-weight: 500
  margin: 0 20px
